@{
    //References the _Layout.cshtml page
    //Hence this is a split part of the html page it is referencing to
    //A way to associate this file to that file indicated below
    Layout = "~/_Layout.cshtml";
    //Assigned Page.Title is done on _Layout.cshtml, we are just assigning a value to it atm.
    Page.Title = "First Page";
}

@section head{
    @* @Can also be used as a pointer?*@
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>Default Content Page</h1>
}
<p>Hello world</p>
<hr style="line-height:5px" />

@section footer{
    &copy; CPSC1517 NAIT all rights reserved
}
