@{
    Layout = "~/Layout.cshtml";
    Page.Title = "First Page";

@section banner{
    <h1>Hello </h1>
    }
@section footer{
    &copy; CPSC1517 NAIT all rights reserved
}
<h1>Default content page</h1>
<p>Hello World!</p>
<hr style="line-height:5px"/>
}
