<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
    @RenderSection("Footer", required: false)
</body>
</html>
